.Chats {
  background-color: #fff;
  display: grid;

  grid-template-areas:
  "chatsPersons chatsMessages";

  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.Chats_Persons {
  grid-area: chatsPersons;
  position: relative;
  height: max-content;
  min-height: 340px;
  background-color: #f5f6fa;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.Chats_Messages {
  grid-area: chatsMessages;
  position: relative;
  background-color: #f5f6fa;
  height: max-content;
  min-height: 340px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
