.profile {
  grid-area: profile;
  background-color: #f5f6fa;
}

.profile__header {
  width: 100%;
  height: auto;
}

.profile__userInfo {
  margin: 20px 0;
  display: grid;

  grid-template-areas:
  "userImage userDescription";

  grid-template-rows: 250px;
  grid-template-columns: 250px 8fr;
  gap: 20px;
}

.profile__userImage {
  grid-area: userImage;
  position: absolute;
  width: 250px;
  margin-top: -20px;
  clip: rect(20px, auto, 270px, 0);

}

.profile__userDescription {
  grid-area: userDescription;
}
