.Message {
  margin: 20px 10px;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.Message_Info {
  display: block;
  position: relative;
  height: 50px;
}

.Info_AuthorImage {
  width: 44px;
  height: 44px;
  object-fit: cover;
  object-position: 50% 20%;
  border-radius: 50%;
  display: inline-block;
}

.Info_TextInfo {
  display: inline-block;
  position: absolute;
  margin: 0 5px;
}

.TextInfo_AuthorFirstName {
  display: block;
  height: 22px;
}

.TextInfo_MessageDate {
  display: block;
  height: 22px;
  font-size: 95%;
  color: #636e72;
}

.Message_Text {
  margin-top: 5px;
}
