.Friends {
  background-color: #f5f6fa;
  overflow: auto;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.Friends_FriendsAll {
  padding: 0 5px 10px 5px;
  margin: 20px 0;
  border-bottom: 1px solid #636e7231;
}

.Friends_FriendsOnline {
  padding: 0 5px;
  margin: 20px 0 10px 0;
  overflow: auto;
}

.FriendsAll_Header,
.FriendsOnline_Header {
  display: block;
  margin: 0 0 10px 10px;
  color: #636e72;
}
