.Profile {
  background-color: #fff;
  display: grid;

  grid-template-areas:
  "profileNarrowColumn profileWideColumn";

  grid-template-rows: max-content;
  grid-template-columns: 250px 1fr;
  gap: 20px;
}

.Profile_NarrowColumn {
  grid-area: profileNarrowColumn;
  display: grid;

  grid-template-areas:
  "profileUserImage"
  "profileUserActions"
  "profileFeatures";

  grid-template-rows: 250px minmax(160px, max-content) max-content;
  gap: 20px;
}

.Profile_WideColumn {
  grid-area: profileWideColumn;
  display: grid;

  grid-template-areas:
  "profileUserInfo"
  "profilePosts";

  grid-template-rows: max-content 1fr;
  gap: 20px;
}

.Profile_UserImage {
  grid-area: profileUserImage;
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: 50% 20%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.Profile_UserInfo {
  grid-area: profileUserInfo;
  display: grid;

  grid-template-areas:
  "userInfoUserName userInfoUserNetworkStatus"
  "userInfoUserDescription userInfoUserDescription";

  grid-template-rows: 40px minmax(190px, max-content);
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.UserInfo_UserName {
  grid-area: userInfoUserName;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 150%;
}

.UserInfo_UserNetworkStatus {
  grid-area: userInfoUserNetworkStatus;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #636e72;
}

.UserInfo_UserDescription {
  grid-area: userInfoUserDescription;
  display: grid;
  background-color: #f5f6fa;
  border-radius: 5px;

  grid-template-areas:
  "userDescriptionItems userDescriptionValues";

  grid-template-columns: 1fr 2fr;
  gap: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.UserDescription_Items {
  grid-area: userDescriptionItems;
  margin: 0 10px;
}

.UserDescription_Values {
  grid-area: userDescriptionValues;
  margin: 0 10px;
}
