.User {
  display: block;
  padding: 10px 10px;
  height: 60px;
  position: relative;
}

.User__active {
  background-color: #82ccdd7a;
}

.User_Image {
  position: relative;
  width: 60px;
  height: 60px;
  object-fit: cover;
  object-position: 50% 20%;
  border-radius: 50%;
}

.User_Name {
  position: absolute;
  display: inline-block;
  text-decoration: none;
  line-height: 22px;
  margin: 19px 10px;
  color: #636e72;
}
