.Text {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 80px;
  border: none;
  outline: none;
  resize: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.Submit {
  display: block;
  margin-top: 10px;
  padding: 5px;
  float: right;
  width: 80px;
  height: 30px;
  border: none;
  background-color: #82ccdd;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
