.posts {

}

.posts__input {
  width: 100%;
  margin: 0px auto;
  margin-bottom: 60px
}

.posts__postText {
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  height: 80px;
}

.posts__submit {
  float: right;
  width: 80px;
  height: 30px;
  border: none;
  background-color: #82ccdd;
  color: #fff;
}

.posts__list {

}