.Messages {
  background-color: #fff;
  display: grid;

  grid-template-areas:
  "messagesList"
  "messagesForm";

  grid-template-rows: 1fr;
  gap: 20px;
}

.Messages_List {
  grid-area: messagesList;
  background-color: #f5f6fa;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.Messages_Form {
  grid-area: messagesForm;
  padding: 20px 10px;
  background-color: #f5f6fa;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
